/*****************************************************************************/
/* Main Styles
/*****************************************************************************/
body {
    color: #fff;
    background: rgb(64, 64, 64);
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.35px
    line-height: 1;
    overflow-x: hidden;
}

a, a:hover, a:visited, a:active {
    color: #fff;
}

h1 {
    font-size: 2.5em;
    text-transform: lowercase;
    opacity: .5;
    text-align: right;
    padding-right: 50px;
    text-shadow: 1px 1px 10px #000;
    font-weight: normal;
    margin: 10px;
}

.container {
    position: absolute;
    top: 57px;
    left: 40px;
    right: 40px;
    bottom: 0;
}

.navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    line-height: 50px;
    background-color: rgb(46, 46, 46);
    border-bottom: 1px solid #000;
    box-shadow: 0 0 4px #111;
}

.navbar .nav {
    list-style: none;
    text-align: center;
    width: 100%;
}

.navbar .navitems {
    display: inline-block;
    padding: 0 15px;
}

.navbar .navitems a, .navbar .navitems a:active, .navbar .navitems a:visited {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: inline-block;
}

.collapsedMenuHandle {
    display: none;
    width: 80px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 10px;
    vertical-align: middle;
}

.navbar .navitems.hideFilmStrip {
    display: none;
    cursor: pointer;
}

dl {
    margin-left: 20px;
}

dd {
    padding: 2px 0;
}

/*****************************************************************************/
/* Home
/*****************************************************************************/
.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

.posts li {
    line-height: 1.75em;
}

.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

/*****************************************************************************/
/* Posts
/*****************************************************************************/

/* standard */
.post {
    max-width: 800px;
}

.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}

/*****************************************************************************/
/* cgallery overrides
/*****************************************************************************/
.galleryList {
    text-align: center;
    max-width: 1450px;
    margin: 0 auto;
}

.gallery {
    max-width: 98%;
    width: 480px;
    height: 200px;    
    display: inline-block;
    margin: 0;
    padding: 0;
}

.gallery.landstuhl a {
    background-image: url('/gallery/landstuhlthumb.jpg');
}

.gallery.yosemite1213 a {
    background-image: url('/gallery/yosemitethumb.jpg');
}

.gallery.succulent a {
    background-image: url('/gallery/succulentthumb.jpg');
}

.gallery.monterey a {
    background-image: url('/gallery/montereythumb.jpg');
}

.gallery.caveTrip a {
    background-image: url('/gallery/SAM_8121.jpg');
}

.gallery.sfbay a {
    background-image: url('/gallery/SAM_7087.jpg');
}

.gallery.utah a {
    background-image: url('/gallery/P1070135.jpg');
}

.gallery.bosnia a {
    background-image: url('/gallery/P1190042-1.jpg');
}

.gallery.belgium a {
    background-image: url('/gallery/P5220020.jpg');
}

.gallery.dc2005 a {
    background-image: url('/gallery/CIMG0003 (2).jpg');
}

.gallery.colorado a {
    background-image: url('/gallery/CIMG1258.jpg');
}

.gallery.newmexico a {
    background-image: url('/gallery/CIMG0777.jpg');
}

.gallery.random a {
    background-image: url('/gallery/CIMG0306.jpg');
}

.gallery a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .50;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.gallery a:hover {
    opacity: 1;
}

.gallery a div {
    position: absolute;
    opacity: .75;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #000;
    display: block;
}

/*****************************************************************************/
/* media query overrides
/*****************************************************************************/
@media screen and (max-width: 700px) {
    .pseudo-button {
        display: none;
    }

    .center {
        left: 0;
        right: 0;
    }

    .middle {
        top: 0;
    }

    .collapsedMenuHandle {
        display: block;
        cursor: pointer;
        z-index: 11;
    }

    .nav {
        opacity: 0;
        display: block;
        position: absolute;
        right: 0;
        top: -1000px;
        width: 250px;
        background: rgb(46, 46, 46);
        z-index: 10;
        box-shadow: inset 0 20px 20px -20px #000000;
        border-bottom: 2px solid #000;
        -moz-transition: opacity .5s;
        -webkit-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s;
    }

    .nav .navitems {
        display: block;
        width: 100%;
        padding: 0;
    }

    body.showMenu .nav {
        opacity: 1;
        top: 51px;
    }

    .color-picker {
        position: absolute;
        top: -45px;
        left: 10px;
    }

    body.project-link .navbar .navitems.hideFilmStrip {
        display: block;
    }

    body.project-link .nav hr {
        margin: 0;
        padding: 0;
    }

    body.hideStrip .middle {
        bottom: 20px !important;
    }

    body.hideStrip .footer {
        height: 0 !important;
    }

    body.hideStrip .footer .strip {
        overflow: hidden;
        height: 0;
    }
}