/*****************************************************************************/
/*
/* Main Styles
/*
/*****************************************************************************/
body {
    color: #fff;
    background: rgb(64, 64, 64);
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.35px
    line-height: 1;
}

a, a:hover, a:visited, a:active {
    color: #fff;
}

h1 {
    font-size: 2.5em;
    text-transform: lowercase;
    opacity: .5;
    text-align: right;
    padding-right: 50px;
    text-shadow: 1px 1px 10px #000;
    font-weight: normal;
    margin: 10px;
}

.container {
    position: absolute;
    top: 57px;
    left: 0;
    right: 0;
    bottom: 0;
}

.navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    line-height: 50px;
    background-color: rgb(46, 46, 46);
    border-bottom: 1px solid #000;
    box-shadow: 0 0 4px #111;
}

.navbar .nav {
    list-style: none;
    text-align: center;
    width: 100%;
}

.navbar .navitems {
    display: inline-block;
    padding: 0 15px;
}

.navbar .navitems a, .navbar .navitems a:active, .navbar .navitems a:visited {
    color: #fff;
    text-decoration: none;
}

.galleryList {
    text-align: center;
    max-width: 1450px;
    margin: 0 auto;
}

.gallery {
    max-width: 98%;
    width: 480px;
    height: 200px;    
    display: inline-block;
    margin: 0;
    padding: 0;
}

.gallery.caveTrip a {
    background-image: url('/gallery/SAM_8121.jpg');
}

.gallery.sfbay a {
    background-image: url('/gallery/SAM_7087.jpg');
}

.gallery.utah a {
    background-image: url('/gallery/P1070135.jpg');
}

.gallery.bosnia a {
    background-image: url('/gallery/P1190042-1.jpg');
}

.gallery.belgium a {
    background-image: url('/gallery/P5220020.jpg');
}

.gallery.dc2005 a {
    background-image: url('/gallery/CIMG0003 (2).jpg');
}

.gallery.colorado a {
    background-image: url('/gallery/CIMG1258.jpg');
}

.gallery.newmexico a {
    background-image: url('/gallery/CIMG0777.jpg');
}

.gallery.random a {
    background-image: url('/gallery/CIMG0306.jpg');
}

.gallery a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .25;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.gallery a:hover {
    opacity: 1;
}

.gallery a div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: rgb(46, 46, 46);
    display: none;
}

.gallery a:hover div {
    display: block;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

.posts li {
    line-height: 1.75em;
}

.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}

/*****************************************************************************/
/*
/* Bootstrap Overrides
/*
/*****************************************************************************/

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar {
    border-radius: 0;
}

.navbar-nav a:hover {
    font-size: 1.2em;
}