            </div>

            <div class="footer">

            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript">
            jQuery.noConflict();
        </script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/mootools-core-1.4.js"></script>
        <script type="text/javascript" src="/js/mootools-more-1.4.js"></script>
        <script type="text/javascript" src="/js/mootools-idle.js"></script>
        <script type="text/javascript" src="/js/mootools-mooswipe.js"></script>
        <script type="text/javascript" src="/js/fgallery.js" ></script>
    </body>
</html>