            </section>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
        <script type="text/javascript" src="/js/jquery.getscrollbarwidth.js"></script>
        <script type="text/javascript" src="/js/hammer.min.js"></script>
        <script type="text/javascript" src="/js/cGallery.js"></script>

        <script type="text/javascript">
        	var hideFileStripEl = document.querySelector('.hideFilmStrip');
        	var middle = document.querySelector('.middle');
        	var body = document.body;

        	if (localStorage) {
        		window.initialHideStrip = localStorage.getItem('hideFilmStrip') === 'true';

        		if (window.initialHideStrip) {
        			toggleFilmStrip(window.initialHideStrip)
        		}
        	}

        	if (middle) {
        		Hammer(body).on('swipe', function (e) {
        			if (e.gesture.direction === Hammer.DIRECTION_LEFT) {
        				window.cGallery.next();
        			} else if (e.gesture.direction === Hammer.DIRECTION_RIGHT) {
        				window.cGallery.previous();
        			}
        		});
        	}

        	function toggleFilmStrip (hide) {
        		var closeStrip = hide = !body.classList.contains('hideStrip');

        		if (closeStrip) {
            		hideFileStripEl.innerText = "show film strip"
        		} else {
            		hideFileStripEl.innerText = "hide film strip"
        		}

        		if (localStorage) {
            		localStorage.setItem('hideFilmStrip', closeStrip);
            	}

            	body.classList.toggle('hideStrip', closeStrip);
        	}

            document.querySelector('.collapsedMenuHandle').addEventListener('click', function () {
            	body.classList.toggle('showMenu', !body.classList.contains('showMenu'));
            });

            hideFileStripEl.addEventListener('click', function () {
            	toggleFilmStrip();
            });

            document.addEventListener('click', function (e) {
            	if (e.target && e.target.classList.contains('collapsedMenuHandle')) {
            		return true;
            	}

            	if (body.classList.contains('showMenu')) {
            		body.classList.remove('showMenu');
            	}
            }, true);
        </script>
    </body>
</html>